/* Title Section */
body
{
  font-family:"Montserrat",sans-serif;
  text-align:center;
}
h1, h2, h3, h4, h5, h6
{
  font-weight:bold;
}
p
{
  color:#8f8f8f;
}
/* Headings */
.big-heading
{
  font-family:"Montserrat-Black","Montserrat";
  font-size:3.5rem;
  line-height:1.2;
  font-weight:bold;
}
.section-heading
{
  font-size:3.1rem;
  line-height:1.5;
}
/* Sections */
.coloured-section
{
  color:#fff;
  background-color:#ff4c68; 
}
.white-section
{
  background-color:#fff;
  color:#000;
}
#title
{
  background-color:#ff4c68;
  color:#fff;
  text-align:left;
}
.container-fluid
{
  padding:3% 15% 15%;
}
.title-image
{
  width:60%;
  transform:rotate(25deg);
  position:absolute;
  right:30%;
}
@media (max-width:1028px)
{
  #title
  {
    text-align:center;
  }
  .title-image
  {
    position:static;
    transform:rotate(0);
  }
}
/* Navigation Bar */
.navbar
{
  padding:0 0 5rem;
}
.navbar-brand
{
  font-family:"Ubuntu",serif;
  font-size:2.5rem;
  font-weight:bold;
  position:absolute;
  left:0;
}
.nav-item
{
  padding:0 18px;
}
.nav-link
{
  font-size:1.35rem;
}
/* Download Buttons */
.Downloadbutton
{
  margin:5% 3% 5% 0;
}
/* Features Section */
#features
{
  padding:10% 15%;
  position:relative;
}
.feature-title
{
  font-size:1.5rem;
}
.featurebox
{
  padding:5%;
}
.icon
{
  margin-bottom:1rem;
  color:#ef8172;
}
.icon:hover
{
  color:#ff4c68;
}
/* Testimonial Section */
#testimonials
{
  background-color:#ef8172;
}
.testimonial-text
{
  font-size:3.1rem;
  line-height:1.5;
}
.carousel-item
{
  padding:7% 15%;
}
.testimonial-image
{
  width:10%;
  border-radius:100%;
  margin:20px;
}
/* Press Section */
#press
{
  background-color:#ef8172;
  padding-bottom:2%;
}
.press-logo
{
  width:15%;
  margin:20px 20px 50px;
}
/* Pricing Section */
#pricing
{
  padding:100px;
}
.price-text
{
  font-size:3.1rem;
  line-height:1.5;
}
.pricing-column
{
  padding:3% 2%;
}
/* CTA Section */
#cta
{
  background-color:#ff4c68;
  padding:7% 15%;
}
/* Footer Section */
#footer
{
  padding:7% 15%;
}
.social-icons
{
  margin:20px 10px;
}
